DB_PATH=data/stocks.db

GOOGLE_SHEET_NAME=XXXX

GOOGLE_CREDENTIAL_FILE=credentials/google_service_account.json

# PORTFOLIO_CSV_PATH=data/portfolio.csv
PORTFOLIO_CSV_PATH=data/portfolio/XXX.csv

YEARS=1

FINMIND_TOKEN=